.tan-video_banner {
  z-index: 9999999;
  width: 100%;
  position: fixed;
  margin: 0 auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .7);
  display: none;
}

.tan-video_banner .tvitem_banner {
  position: absolute;
  margin: auto;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 1200px;
  color: #000;
  height: 760px;

}

.tan-video_banner .tvitem_banner #fancybox-close_banner {
  position: relative;
  margin-right: -40px;
  float: right;
  width: 30px;
  height: 30px;
  background: #000 url(../img/zhuanti/close.png) no-repeat center;
  color: #fff;
}

.tan-video_banner .tvitem_banner .video-show_banner {
  position: relative
}

.tan-video_banner .tvitem_banner #videoPlay_banner,
.ie8 #videoPlay_banner_wrapper {
  /*height: 640px!important;
    width: 1200px!important;*/
  margin: 0 auto;
}

.tan-video_banner .tvitem_banner #video1 {
  display: none;
  height: 640px !important;
  width: 1200px !important;
}

.tan-video_banner .tvitem_banner .playerWord_banner {
  width: 100%;
  border: 1px solid #999;
  height: 80px;
  background: #434343;
  color: #fff;
  border-bottom: none;
  position: relative;
  padding: 10px 40px;
  box-sizing: border-box;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tan-video_banner .tvitem_banner .playerWord_banner .playcont {
  float: left;
  color: #fff;
}

.tan-video_banner .tvitem_banner .playerWord_banner .playcont h5 {

  line-height: 30px
}

.tan-video_banner .tvitem_banner .playerWord_banner .playcont em {
  font-size: 12px;
}

.tan-video_banner .tvitem_banner .playerWord_banner .playcont .p1 {
  font-size: 18px;
  margin-right: 120px;
}

.tan-video_banner .tvitem_banner .playerWord_banner .playcont .p2,
.tan-video_banner .tvitem_banner .playerWord_banner .playcont p {
  font-size: 14px;
}

.tan-video_banner .tvitem_banner .playerWord_banner .playcont p {
  margin-top: 5px;
}

.tan-video_banner .tvitem_banner .playerWord_banner .playshare {
  float: right;
  text-align: right;
}

.tan-video_banner .tvitem_banner .playerWord_banner .playshare .more {
  font-size: 14px;
  vertical-align: middle;
}